.wrapper {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    min-height: 100vh;
    width: 100%;
    background-color: rgb(55, 55, 55);

    p {
        margin-bottom: 8px;
        font-size: 12.5px;
        line-height: 13px;
    }

    .businessCardContainer {
        padding-top: 2.5%;
        width: 500px;
        margin: 0 auto;

        @media (max-width: 600px) {
            width: 95%;
            margin: 0 2.5%;
        }

        .businessCard {
            background-color: #fff;
            border-radius: 1px;
            padding: 24px;
            margin: 0 auto;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
            @media (max-width: 600px) {
                padding: 16px;
            }

            .profilePic {
    
            }
    
            .otherContent {
                padding-left: 32px;
            }
    
            h1 {
                font-size: 18px;
                line-height: 20px;
                // font-weight: 600;
                margin-bottom: 6px;
            }

            h2 {
                font-size: 14.5px;
                line-height: 17px;
                margin-bottom: 6px;
            }
    
            p.underTitle {
                font-size: 12.5px;
                line-height: 14px;
                color: gray;
            }
        }
    }

    .services {
        .service {
            background: #009688;
            border-radius: 24px;
            padding: 3px 10px;
            display: inline-block;
            color: white;
            font-size: 12px;
            line-height: 12px;
            margin-right: 4px;
            margin-bottom: 4px;
        }
    }

    footer {
        max-width: 500px;
        margin: 16px auto;
        color: rgb(136, 136, 136);
        font-size: 12px;
        line-height: 14px;

        @media (max-width: 600px) {
            width: 95%;
            margin: 16px 2.5%;
        }
    }
}

.row {
    display: flex;
    flex-wrap: nowrap;
}

.hideMobile {
    display: block;

    @media (max-width: 600px) {
        display: none;
    }
}

.displayMobile {
    display: none;

    @media (max-width: 600px) {
        display: block;
    }
}

span.icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #0081e7;
    color: white;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    margin-right: 6px;

    &.text {
        font-size: 8px;
        position: relative;
        top: -1px;
    }
}